overlays/Andrew.ini
overlays/Andrew_settings.json
docs/Images/DailyAverageSpeeds.png
data/webcam480.csv
webcam480_calibrate.mp4
data/Andrew.csv
.gitignore
data/webcam480Sep.csv
docs/Images/DailyAverageSpeedsByDirection.png
.gitignore
docs/Images/DailyVehicleCount.png
docs/Images/DailyVehicleCountByDirection.png
docs/Images/DailyVehicleCountByDirection2.png
docs/Images/DirectionBreakdown.png
docs/Images/MaximumSpeeds.png
docs/Images/SingleDayVehicleCount.png
docs/Images/speed_52_7.jpg
docs/Images/SpeedDistribution.png
docs/Images/SpeedsOver45.png
docs/Images/TotalVehicles.png
overlays/webcam480.log
overlays/webcam480.log.1
src/appLogger.log
src/__pycache__/speed-cam.cpython-36.pyc
src/speed-cam.csv
home_speed_detector_Installers/Deb64/Deb64Executables
home_speed_detector_Installers/Win_x64/Windows64Executables
src/data
media
*.pyc
